html {
	height: 210px;
	overflow: hidden;
}


body {
  background-color: #24005b;
  background-image: url(img/background.png);
  font-family: notosans;
  height: 100%;
  min-width: 485px;
  font-family: sans-serif
}

a {
  transition: 0.3s;
  text-decoration: underline;
}

a:link {
  color: #8cdb38;
  text-decoration: underline;
}

a:visited {
  color: #8cdb38;
  text-decoration: underline;
}

a:hover {
  color: white;
}

#playstop-button {
  color: #8cdb38;
  font-size: 30px;
  position: absolute;
  top: 170px;
  user-select: none;
  transition: 0.3s;
}

#playstop-button:hover {
  color: white;
}

#vol-control {
  position: absolute;
  top: 165px;
  left: 40px;
}

#songtitle {
  color: white;
  position: absolute;
  font-size: 12px;
  top: 40px;
  left: 160px;
}

#animetitle {
  color: white;
  position: absolute;
  font-size: 12px;
  top: 5px;
  left: 160px;
}

#coverart {
  width: 150px;
  height: 150px;
  object-fit: scale-down;
}

#onairshow {
  color: white;
  font-size: 12px;
  position: absolute;
  bottom: 33px;
  right: 10px;
  color: #7cdd1a;
}

#links {
  color: #8cdb38;
  position: fixed;
  bottom: 0;
  right:0;
  font-size: 20px;
  margin-bottom: 1px;
  margin-left : 1px;
}

::selection {
  color: #7cdd1a;
  background: #24005b;
}

input[type="range"] {
  margin: 13.2px 0;
  background-color: transparent;
  width: 25%;
  -webkit-appearance: none;
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"]::-webkit-slider-runnable-track {
  background: #4813f5;
  border: 0.7px solid #562425;
  border-radius: 6.2px;
  width: 100%;
  height: 12.6px;
  cursor: pointer;
}
input[type="range"]::-webkit-slider-thumb {
  margin-top: -13.9px;
  width: 19px;
  height: 39px;
  background: #8cdb38;
  border: 2.2px solid #000000;
  border-radius: 2px;
  cursor: pointer;
  -webkit-appearance: none;
}
input[type="range"]:focus::-webkit-slider-runnable-track {
  background: #4813f5;
}
input[type="range"]::-moz-range-track {
  background: #4813f5;
  border: 0.7px solid #562425;
  border-radius: 6.2px;
  width: 100%;
  height: 12.6px;
  cursor: pointer;
}
input[type="range"]::-moz-range-thumb {
  width: 19px;
  height: 39px;
  background: #8cdb38;
  border: 2.2px solid #000000;
  border-radius: 2px;
  cursor: pointer;
}

input[type="range"]::-ms-track {
  background: transparent;
  border-color: transparent;
  border-width: 14.2px 0;
  color: transparent;
  width: 100%;
  height: 12.6px;
  cursor: pointer;
}


.noselect{
  user-select: none;
}
